@use '../abstracts/variables' as *;

.actions {
  &__document,
  &__folder,
  &__upload {
    width: 3.5rem;
    height: 3.5rem;

    background-color: $neutral-very-dark-blue;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
