@use '../abstracts/variables' as *;

.storage__bar {
  width: 100%;

  padding: 0.2em;

  background-color: $neutral-very-dark-blue;

  border-radius: 2rem;

  &__percentage {
    background: linear-gradient($primary-gradient);

    width: 75%;

    padding: 0.5em;

    border-radius: 2rem;

    position: relative;

    &::after {
      content: '';
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      position: absolute;
      top: 10%;
      right: 1%;
      background: white;
    }
  }
}
